<launch>
    <arg name="number_vehicles" default="3" />
    <node name="state_setpoint_node" pkg="reconfigurable_hippo" type="setpoint_node" output="screen">
        <param name="number_vehicles" value="$(arg number_vehicles)" />
    </node>
    <include file="$(find reconfigurable_hippo)/launch/node_tracking_control.launch" pass_all_args="true"></include>

    <include file="$(find reconfigurable_hippo)/launch/node_mavlink_mapper.launch">
        <arg name="number_vehicles" value="$(arg number_vehicles)" />
    </include>
</launch>